body {
    display: flex;
    flex-direction: column;
    background-color: #353535;
}
html, body {
    height: 100vh;
    margin: 0;
}

.header {
    padding: 0.2em;
    font-family: arial,sans-serif;
    font-size: 0.8em;
}
.header .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.header .content a {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.header .content a:hover {
    opacity: 1;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 100%;
}

.jse-theme-dark {
    --jse-theme-color: #224F98;
    --jse-panel-background: #1e1e1e;
}

.jse-menu > *:nth-child(1),
.jse-menu > *:nth-child(2),
.jse-menu > *:nth-child(3),
.jse-menu > *:nth-child(4)
{
    display: none;
}
